<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CensoSIS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <?php if (isset($_SESSION['userLoged'])): ?>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="?m=logout">Cerrar sesion</a>
            </li>
            <?php else: ?>
            <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page"  href="?m=login">Iniciar sesion</a>
            </li> -->
            <?php endif; ?>
        </ul>
    </div>
</nav>